<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Elenco Arbitri</title>
    <div th:replace="~{fragments :: header-css}"></div>
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>

    <h1>Tutti gli Arbitri</h1>
	
    <div th:if="${arbitri.isEmpty()}">Non ci sono arbitri nel sistema</div>
    
    <ul style="list-style-type: none; padding: 0; max-width: 600px; margin: 0 auto;">
        <li th:each="arbitro : ${arbitri}" style="padding: 12px; border-bottom: 1px solid #ccc; display: flex; justify-content: space-between; align-items: center;">
            <div>
                <a th:href="@{'/arbitri/' + ${arbitro.id}}" th:text="${arbitro.nome + ' ' + arbitro.cognome}" style="font-weight: bold; text-decoration: none; font-size: 1.1em;">Nome Cognome</a>
            </div>
        </li>
    </ul>

    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>