<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dettagli Commento</title>
    <div th:replace="~{fragments :: header-css}"></div>
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>

    <div th:if="${commento}">
        <h1>Commento del <span th:text="${commento.dataOra}">01/01/2024</span></h1>
        <div>Autore: <span th:text="${commento.autore.username}">Username</span></div>
        
        <div style="margin-top: 15px; padding: 10px; border: 1px solid #ccc;">
            <h3>Dati Partita Commentata:</h3>
            <div>
                <strong>Gara:</strong> 
                <span th:text="${commento.partitaRiferimento.squadraCasa.nome}">Squadra Casa</span> 
                Vs 
                <span th:text="${commento.partitaRiferimento.squadraTrasferta.nome}">Squadra Trasferta</span>
            </div>
            <div><strong>Luogo:</strong> <span th:text="${commento.partitaRiferimento.luogo}">Stadio</span></div>
            <div><strong>Data e Ora:</strong> <span th:text="${commento.partitaRiferimento.dataOra}">Data</span></div>
            <div><strong>Risultato:</strong> <span th:text="${commento.partitaRiferimento.goalsHome}">0</span> - <span th:text="${commento.partitaRiferimento.goalsAway}">0</span></div>
        </div>
        
        <hr>
        <div>
            <strong>Messaggio:</strong>
            <p th:text="${commento.testo}">Testo del commento...</p>
        </div>
        <hr>
    </div>
    
    <div th:unless="${commento}">Commento non trovato!</div>

    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>