<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aggiungi Torneo</title>
    <div th:replace="~{fragments :: header-css}"></div>
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>

    <h1>Aggiungi un nuovo Torneo</h1>
    
    <form th:action="@{/tornei}" method="POST" th:object="${torneo}" style="width: 50%; margin: 0 auto; text-align: left;">
		<input type="hidden" th:field="*{id}" />
        <div style="margin-bottom: 15px;">
            <label>Nome del Torneo:</label><br>
            <input required type="text" th:field="*{nome}" style="width: 100%; padding: 8px;"/>
        </div>
        
        <div style="margin-bottom: 15px;">
            <label>Anno:</label><br>
            <input required type="number" th:field="*{anno}" style="width: 100%; padding: 8px;"/>
        </div>
        
        <div style="margin-bottom: 15px;">
            <label>Descrizione:</label><br>
            <textarea required th:field="*{descrizione}" rows="4" style="width: 100%; padding: 8px; font-family: inherit;"></textarea>
        </div>
        
        <div style="text-align: center; margin-top: 20px;">
            <button type="submit" style="padding: 10px 20px; background-color: black; color: white; border: none; border-radius: 5px; font-weight: bold; cursor: pointer;">
                Salva Torneo
            </button>
        </div>
    </form>

    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>