<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Elenco Tornei</title>
    <div th:replace="~{fragments :: header-css}"></div>
</head>
<body>
    <div th:replace="~{fragments :: header}"></div>

    <h1>Tutti i Tornei</h1>
	
	<div sec:authorize="hasRole('ADMIN')" style="text-align: center; margin-bottom: 20px;">
	    <a th:href="@{/tornei/new}" style="padding: 10px 20px; background-color: black; color: white; text-decoration: none; border-radius: 5px; font-weight: bold;">
	        + Aggiungi Nuovo Torneo
	    </a>
	</div>
    <div th:if="${tornei.isEmpty()}">Non ci sono tornei nel sistema</div>
    
	<ul style="list-style-type: none; padding: 0; max-width: 600px; margin: 0 auto;">
        <li th:each="torneo : ${tornei}" style="padding: 12px; border-bottom: 1px solid #ccc; display: flex; justify-content: space-between; align-items: center;">
            
            <div>
                <a th:href="@{'/tornei/' + ${torneo.id}}" th:text="${torneo.nome} + ' (' + ${torneo.anno} + ')'" style="font-weight: bold; text-decoration: none; font-size: 1.1em;">Nome Torneo</a>
            </div>
            
            <div sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/tornei/edit/' + ${torneo.id}}" style="padding: 5px 10px; background-color: #ffc107; color: black; text-decoration: none; border-radius: 3px; font-size: 0.9em; font-weight: bold; margin-right: 5px;">
                    Modifica
                </a>
                <a th:href="@{'/tornei/delete/' + ${torneo.id}}" onclick="return confirm('Eliminare questo torneo e la sua classifica?');" style="padding: 5px 10px; background-color:red; color: white; text-decoration: none; border-radius: 3px; font-size: 0.9em; font-weight: bold;">
                    Elimina
                </a>
            </div>
            
        </li>
    </ul>
    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>