<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SiwCalcio - Homepage</title>
    <div th:replace="~{fragments :: header-css}"></div>
</head>
<body>
	
    <div th:replace="~{fragments :: header}"></div>
    
    <h1>Benvenuto nel sistema SIW Calcio</h1>
    <p>Seleziona una voce dal menu in alto per iniziare a navigare.</p>
	<span>numero totale partite</span>
	<span th:text="${totalePartite}"></span>
    <div th:replace="~{fragments :: footer}"></div>
    
</body>
</html>